	
	h1{
		color: #ffffff;
		margin-top: 15px;
		margin-left: 25px;
	}
	body{
		margin: 0 auto;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
		}
		
	h2{
		font-family: copperplate gothic light;
		font-style: bold;
		font-size: 30px;
		color: #c0c0c0;
		margin-top: 50px;
		margin-left: 35px;
	}
	blockquote{
		font-style: oblique;
		font-family: lucida handwriting;
		font-size: 20px;
		color: #c0c0c0;
		margin-top : auto;
		margin-left: 35px;
		margin-right: 50%;
		text-align: justify; 
		float: left;
		position: static;
	}
	
	.button1{
		border-color: #c0c0c0;
		border-radius: 100px;
		width: 500px;	
		height: 45px;
		font-family: kristen itc;
		font-size: 20px;
		background-color: #000000;
		color: #c0c0c0;
		margin-top: 10%;
		margin-left: 6%;
		float: center;
	}	5

		
		
	