	
	body{
		background-color: #a9a9a9;
	}
	
	h1{
		margin: .25%;
		
	}
	
	
	
	#navi li{
		display: inline;
		padding: 0.45%;
	}
	
	
	
	#navi ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	#navi{
		margin: .25%;
		background-color: #000000;
		padding: 1%;
		padding-left: 5.5%;
	}
	
	#navi a{	
		color: #c0c0c0;
		padding: 0.45%;
		margin: 88px;
		text-decoration: none;
		font-family: kristen itc;
		font-weight: bold;
	}
	
	
	.btn: hover{
		color: black;
	}
	

	
	#content{
		margin: .25%;
		background-image: url(cats.gif);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 61%;
		padding: .45%;
	}
	
	
	
	
	#footer{
		height: 3%;
		background-color: #000000;
		margin: .25%;
		color: #c0c0c0;
		font-family: kristen itc;
		text-align: center;
		padding: 1%;
	}
	
	#gallery{
			height: 85%;
			width: 40%;
			margin-left: 29%;
			border: 5px solid;
			border-color: black;
			border-radius: 10px;
	}
	

	
	button{
			margin-top: 10px;
			font-size: 85%;
			background-color: black;
			color: white;
			margin-left: 31%;
	}