	
	body{
		background-color: #a9a9a9;
	}
	
	h1{
		margin: 4px;
		
	}
	
	.btn{	
		color: #c0c0c0;
		padding: 15px;
		margin: 88px;
		text-decoration: none;
		font-family: kristen itc;
		font-weight: bold;
	}
	
	
	.btn:hover{
		color: blue;
	}
	
	#navi li{
		display: inline;
		padding: 5px;
	}
	
	
	
	#navi ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	#navi{
		margin: 4px;
		background-color: #000000;
		padding: 10px;
		padding-left: 65px;
	}
	
	#navi a{	
		color: #c0c0c0;
		padding: 15px;
		margin: 88px;
		text-decoration: none;
		font-family: joker;
		font-weight: bold;
	}
	
	
	.btn: hover{
		color: black;
	}
	

	
	#content{
		margin: 4px;
		background-image: url(pusa.gif);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 61%;
		padding:5px;
	}
	
	#dedic{
			float: center;
			width: 60%;
			height: 100%;
			margin-left: 20.30%;
			margin-top: 1%;
			
	}
	
	blockquote{
			color: black;
			font-family: kristen itc;
			font-size: 80%;
			text-align: center;
			margin-left: 5.7%;
			padding: 5%;
			font-weight: bold;
	}
	
	

	
	#footer{
		height: 2%;
		background-color: #000000;
		margin: 4px;
		color: #c0c0c0;
		font-family: kristen itc;
		text-align: center;
		padding: 1%;
	}
	
	