h1{
		color: #ffffff;
		margin-top: 15px;
		margin-left: 25px;
	}
	body{
		margin: 0 auto;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
		}
		
	h3{
		font-family: kristen itc;
		font-style: bold;
		font-size: 17px;
		color: #c0c0c0;
		margin-top: 1.5%;
		margin-left: 44%;
	}
	blockquote{
		font-family: century gothic;
		font-size: 20px;
		color: #c0c0c0;
		margin-top : auto;
		margin-left: 35px;
		margin-right: 50%;
		text-align: justify; 
		float: left;
		position: static;
	}
	
	.button1, .button2{
		background-color: #000000;
		color: #c0c0c0;
		border-color: #c0c0c0;
		font-style: trebuchet ms;
		font-size: 10px;
		font-weight: bold;
		border-radius: 100px;
		padding: 7px;
		width: 250px;
		margin-left: 40%;
		font-family: Kristen itc;
	}
	
	.button1{
		margin-top: 8.75%;
	}